<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Etudiant</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f5f5;
            text-align: center;
            margin: 50px;
        }

        h2 {
            color: #333;
        }

        p {
            margin-bottom: 15px;
        }
    </style>
</head>
<body>
    <h2>Profil Etudiant</h2>
    <p>Nom d'utilisateur : {{ etudiant.username }}</p>
    <p>Email : {{ etudiant.email }}</p>
    <!-- Ajoutez d'autres informations de l'étudiant selon vos besoins -->
</body>
</html>
